@import './variables'

normalize()
box-sizing-reset()

body
	font-family 'Roboto Condensed', sans-serif
	color _c1
	
h1, h2, h3
	margin 0
	
.indie-flower-font
	font-family 'Indie Flower', cursive

.root
	max-width 950px
	width 100%
	margin 0 auto
	padding 0 20px

	.logo
		font-size 35px
		position absolute
		top 7px
		left 0
	
	.link
		color _c1
		transition color .4s
	
		&:hover
			color alpha(blue, .5)
			text-decoration underline
		
		&.active
			text-decoration none
			
	nav .link:nth-child(2)
		margin-left 210px

	.app-container
		display flex
		flex-flow column nowrap
		justify-content space-between
		height 100vh
		
		header
		footer
			flex 0 0 auto
			padding 20px 0
			
		header
			margin-bottom 20px
			border-bottom 2px solid alpha(_c1, .4)
			position relative
			
			.link
				margin-right 20px
		
		footer
			border-top 2px solid alpha(_c1, .4)
			
		.main-content-wrapper
			flex 1 0 auto
			padding-bottom 20px